# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\JideaWorkSpace\word_count\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
